






body{
    background-image: url('/wallpaperflare.com_wallpaper (5).jpg') !important;
    background-size: 100% 100vh !important;
    padding: 0 !important;
    margin: 0 !important;
    font-family: 'Bai Jamjuree', sans-serif !important;
}
nav{
  padding: 0 21px;
}
.Outer{
    text-align: center !important;
    border-radius: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.9), 0 5px 5px 0 rgba(0, 0, 0, 0.24) !important;
    margin: 15vh 0 0 80px !important;
    font-size: 1.3rem !important;
    background-color: white !important;
    width: 400px !important;
    height: 500px !important;
    padding: 30px !important;
}
.Outer h1 {
  font-size: 2.3rem !important;
  color: black;
  margin-bottom: 2.4rem;
}
.Outer form{
    line-height: 100px !important;
}
.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

.raise {
  --color: #000000;
  --hover: #28ae3c;
}
  
  button {
    color: var(--color) !important;
    transition: 0.25s !important;
  }
  button:hover, button:focus {
    border-color: var(--hover) !important;
    color: #000000 !important
  }
  
  button {
    background: none !important;
    border: 2px solid !important;
    font: inherit !important;
    line-height: 10px !important;
    margin: 0.5em !important;
    padding: 1em 20px !important;
    border-radius:10px 1px !important;
  }
  
  

  .navbar-light .navbar-brand {
    color: rgba(0,0,0,.9);
    margin-right: 960px;
}



@media (max-width: 991px){
  body{
    background-image: url('https://c0.wallpaperflare.com/preview/146/436/921/decor-flatlay-from-above-house-plant.jpg') !important;
    background-size:100% !important;
    background-position: center center !important;
    padding: 0 !important;
    margin: 0 !important;
    font-family: 'Bai Jamjuree', sans-serif !important;

}
.navbar{
  z-index: 1;
}

nav a{
  font-size: 5rem !important;
  text-align: center;
  align-items: center;
}
nav p{
  font-size: 2rem;
  text-align: center;
  align-items: center;
}
nav span{
  font-size: 2.3rem !important;
  text-align: center;
  align-items: center;
}
nav button{
  font-size: 0.5rem !important;

  margin-top: 20px;
    align-items: center;
}
.Outer h1 {
    font-size: 5rem !important;
    color: black;
    margin-bottom: 6rem;
}
.Outer{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
    text-align: center !important;
    border-radius: 20px !important;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.9), 0 5px 5px 0 rgba(0, 0, 0, 0.24) !important;
    margin: 6vh 0 0 0 !important;
    font-size: 3.3rem !important;
    background-color: white !important;
    width: 800px !important;
    height: 1340px !important;
    padding: 30px !important;
    opacity: 90% !important;
}
.Outer form{
    line-height: 280px !important;
}
.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

.raise {
  --color: #000000;
  --hover: #28ae3c;
}
  
  button {
    color: var(--color) !important;
    transition: 0.25s !important;
  }
  button:hover, button:focus {
    border-color: var(--hover) !important;
    color: #000000 !important;
  }
  
  .Outer button {
    background: none !important;
    border: 5px solid !important;
    font: inherit !important;
    line-height: 50px !important;
    margin: 0.5em !important;
    padding: 1em 1em !important;
    border-radius:70px 1px !important;
}
  
  code {
    color: #e4cb58 !important;
    font: inherit !important;
  }
  .navbar-light .navbar-brand {
    color: rgba(0,0,0,.9);
    margin-right: 0%;
}
    
}



